.header {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  flex-direction: column;
  font-family: "Muli";
  font-weight: 800;
  background-color: #2d3436;
  position: fixed;
  width: 100%;
  color: #00b894;
  box-shadow: 0px 5px 2px -1px #dfe6e9;
}

.header h1,
p {
  padding: 0;
  margin: 0;
}

.header p {
  font-weight: 400;
  color: #dfe6e9;
}

.header-link {
  font-weight: 800;
  text-decoration: none;
  color: #dfe6e9;
}

@media only screen and (max-width: 900px) {
  .header h1 {
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .header p {
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    color: #dfe6e9;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
